.footer-bottom p {
    text-align: center;
}

.ir-arriba {
    background-color: #222222;
    color: crimson;
    font-size: 50px;
    display: inline-block;
    cursor: pointer;
}

footer {
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #222222;
}